body {
    background-color: rgb(2, 26, 48);
    color: white;
    font-family: "Lato", sans-serif;
    opacity: 0.9;
}

.container h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 20px;
}

.fa{
    display: none;
}

h4{
    color: rgb(40, 107, 207);
}

#question{
    margin-top: 40px;
    margin-left: 5rem;
}

#answer{
    font-size: 16px;
    color: black(138, 188, 252);
    width: 80%;
    margin-left: 5rem;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #111;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    clear: both;
}

@media screen and (max-width: 910px) {

    body{
        width: 100%;
    }

}
