body {
    background-image: url("/assets/hero-bg.jpg");
    background-image: no-repeat;
    color: white;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

.main-page {
    margin-top: 100px;
}

.main-page h1 {
    text-align: center;
    color: #124265;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#liveDateTime {
    display: block;
    margin-top: 30px;
    text-align: center;
    margin-left: 90px;
}

#liveDateTime p {
    text-align: center;
    font-weight: 700;
    color: #124265;
}

#dateTime {
    color: black;
    font-size: 15px;
    padding-right: 85px;
}

#country_label {
    font-size: 20px;
}

#dropdown {
    display: inline-block;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 50%;
}


#dropdown:focus {
    outline: none;
    box-shadow: none;
}

#countryList {
    border-radius: 4px;
    background: #229bdc;
    color: white;
    width: 400px;
    padding: 17px 20px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#countryList:hover {
    transition: 0.3s;
    color: black;
    background-color: inherit;
}

#countryList:focus {
    outline: none;
    box-shadow: none;
}


#history {
    border-radius: 4px;
    background: #229bdc;
    color: white;
    width: 400px;
    padding: 17px 20px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#history:hover {
    transition: 0.3s;
    color: black;
    background-color: inherit;

}

#history:focus {
    outline: none;
    box-shadow: none;
}

#runApi {
    border-radius: 10px;
    background: #229bdc url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/dropdown-arrows.png") 313px 18px no-repeat;
    color: #fff;
    width: 100px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 13px;
    margin-left: 35%;
    margin-top: 1em;
    cursor: pointer;
}

#runApi:hover {
    transition: 0.2s;
    color: black;
    background: #dce0f1 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/dropdown-arrows.png") 313px 18px no-repeat;
}

#runApi:focus {
    outline: none;
    box-shadow: none;
}

#content-left {
    float: left;
    width: 50%;
    margin-left: 20px;
}

#content-right {
    float: right;
    width: 45%;
    margin-right: 20px;
    margin-top: 50px;
}

table {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
    padding: 5px;
    background-color: white;
    color: black;
}


th {
    text-align: left;
    padding: 15px;
    color: black;
}

td {
    background-color: rgba(252, 252, 252, 0.788);
    text-align: left;
    padding: 15px;
    font-weight: 500;
}

#casesToday {
    background-color: rgb(252, 234, 195);
    color: orange;
    font-weight: 650;
}

#deathsToday {
    background-color: rgb(252, 195, 195);
    color: red;
    font-weight: 650;
}

#vaccinated {
    background-color: rgb(195, 235, 252);
    color: rgb(12, 21, 145);
    font-weight: 650;
}


#recovered {
    background-color: rgb(195, 252, 203);
    color: green;
    font-weight: 650;
}

#stats {
    border-collapse: collapse;
    width: 100%;
    margin-right: 10px;
}

#flag {
    text-align: center;
    height: 100;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 10em;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #111;
    font-size: 15px;
    opacity: 0.9;
    text-align: center;
    clear: both;
}



@media screen and (max-width: 1400px) {

    #dropdown {
        margin-left: 29em;
    }
}

@media screen and (max-width: 918px) {

    #dropdown {
        margin-top: 1em;
        margin-left: 0.5em;
        width: 300px;
        margin-right: 1em;
    }

    #history {
        width: 300px;
    }

    #countryList {
        width: 300px;
    }

    #runApi {
        margin-left: 0em;
        margin-top: 10px;
    }

    table {
        width: 100%;
        margin-bottom: 25px;
    }

    #content-right {
        width: 100%;
        margin-right: 1px;
        margin-left: 1px;
    }

    #content-left {
        width: 90%;
    }

    #map {
        margin-bottom: 50px;
    }

    #flag {
        margin-bottom: 100px;
        margin-left: 1em;
    }

}