* {
    box-sizing: border-box
}

body {
    background-color: rgb(5, 15, 48);
    font-family: "Lato", sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: rgb(3, 15, 48);
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
}


#casesToday{
  color: orange;
  font-weight: 650;
}

#deathsToday {
  color: red;
  font-weight: 650;
}

#recovered {
  color: green;
  font-weight: 650;
}

.topCases{
  display: block;
  float: left;
  width: 30%;
}

.topCases h2{
  margin-top: 2em;
  font-size: 22px;
  font-weight: 500;
  color: rgb(13, 17, 13);
}

.topCases table tr, td{
  padding: 15px;
  text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #111;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    clear: both;
}

@media screen and (max-width: 1278px)
{

  header{
    display: inline-flex;
  }

  .slideshow-container {
    max-width: 700px;
    width: 100%;
    margin-left:10em;
    margin-right: 10em;
  }


  .topCases
  {
    font-size: 12px;
    line-height: 1em;
    width: 50%;
    margin-right: 4em;
    margin-bottom: 10em;
  }

  .topCases h2{
     font-size: 16px;
  }

  #subMenu h2{
    font-size: 16px;
  }

  #subMenu ul li a{
    font-size: 14px;
    letter-spacing: none;
    text-transform: lowercase;    
    }
}

@media screen and (max-width:510px) {
   .sidenav {
    padding-top: 10px;
   }

  .sidenav a {
      font-size: 18px;
    }

  header{
       display: inline-flex;
       background-color: inherit;
     }
     
  .text{
      margin-top: 1em;
      font-size: 10px;
    }


  .topCases
    {
      width: 100%;
    }

  .topCases h2{
      font-size: medium;
      text-align: center;
      font-weight: 500;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 5em;
    }

  .topCases table{
      margin-left: 9em;
      margin-top: 2em;
    }

  .topCases table tr, td{
     font-size: 12px;
     padding: 5px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;     
    }

  #subMenu{
      margin-top: 0.5em;
      margin-left: -2em;
      width: 50%;
      display: none;
    }

  #subMenu ul li a{
    font-size: 10px;
    letter-spacing: none;
    text-transform: lowercase;    
    }

  footer{
      font-size: 12px;
    }
}